# Test trigger
# Library dependencies for the python code.  You need to install these with
# `sudo python3 -m pip install --upgrade --force-reinstall -r requirements.txt` before you can run this.

#### ESSENTIAL LIBRARIES FOR MAIN FUNCTIONALITY ####

# related libraries.
evdev
git+https://github.com/lthiery/SPI-Py.git#egg=spi-py
git+https://github.com/ytdl-org/youtube-dl@master#egg=youtube-dl
pyserial
RPi.GPIO

# Type checking for python
# typing
